name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/api-${{ secrets.NIM }}:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/api-${{ secrets.NIM }}:latest

      - name: Deployment using curl
        run: |
          curl -X POST http://154.26.139.201:8080/deploy \
            -H "Content-Type: application/json" \
            -d '{
                  "nim": "${{ secrets.NIM }}",
                  "nama": "${{ secrets.NAMA }}",
                  "docker_username": "${{ secrets.DOCKER_USERNAME }}"
                }'